@import '../../scss/mixins';

.articleSmallPreview {
  box-sizing: border-box;
  padding: 24px 0;
  max-width: 351px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__likes {
    display: flex;
    padding: 8px;
  }

  &__likesCounter {


    margin: 0;
    font-size: 18px;
    line-height: 24px;
    color: #62626a;
  }

  &__likesIcon {
    width: 24px;
    height: 24px;
    background-image: url(./like.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  &__titleLink {
    color: #0a0a0b;
    font-size: 20px;
    width: fit-content;
    transition: 0.3s;

    &:hover {
      text-decoration: none;
      color: #0a0a0b;
      opacity: 0.8;
    }

    @include mediaMax(768px) {
      font-size: 18px;
    }
  }

  @include mediaMax(768px) {
    max-width: 227px;
  }
}