.submit {
    margin-right: 24px;
    background: #008AFF;
    border-radius: 4px;
    width: 214px;
    height: 40px;
    font-family: 'Alegreya Sans', sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    border: 0;
    cursor: pointer;
    opacity: 1;
    transition: opacity .7s ease;
}

.submit:hover {
    opacity: 0.6;
}

.submit:focus {
    outline: 0;
}