@import '../../../../scss/mixins';

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 700px;
    padding-top: 56px;
    padding-bottom: 24px;

    &__editbutton {
        text-decoration: none;
    }


}

@include breakpoint('container', 800px) {
    max-width: 453px;
}

@include breakpoint('container', 500px) {
    max-width: 280px;
}