@import '../../../../scss/mixins';

.container {
  margin: 0 auto;
  max-width: 700px;

  &__header {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Alegreya Sans', sans-serif;
    padding-bottom: 24px;
    padding-top: 48px;
  }
}

@include breakpoint('container', 800px) {
  max-width: 453px;
}

@include breakpoint('container', 500px) {
  max-width: 280px;
}

.inputbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 4px 4px 4px 4px;
  border: 0.1px solid #e5e5e5;
  margin-bottom: 24px;
}

@include breakpoint('inputbox', 800px) {
  padding-bottom: 0;
}
