@import '../../../../scss/mixins';

.textarea {
    width: 100%;
    height: 104px;
    outline: none;
    resize: none;
    border: none;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

@include breakpoint('textarea', 800px) {
    font-size: 16px;
    line-height: 20px;
}

.line {
    border-bottom: 0.1px solid #E5E5E5;
    padding: 16px 24px 16px 24px;
}

@include breakpoint('line', 800px) {
    padding: 16px;
}

.box {
    display: flex;
    flex-direction: row;

    padding-left: 24px;
}

@include breakpoint('box', 800px) {
    padding-bottom: 10px;
}


.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
    padding-right: 24px;



    &__smallbox {
        padding-left: 13px;
    }

    &__img {
        width: 31px;
        height: 31px;
        border-radius: 100px;
    }

    &__name {
        font-family: 'Alegreya Sans', sans-serif;
        color: rgba(10, 10, 11, 1);
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 4px;
        text-decoration: none;

    }

    &__date {
        font-family: 'Alegreya Sans', sans-serif;
        color: rgba(10, 10, 11, 1);
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        padding-bottom: 24px;
        text-decoration: none;
    }
}

@include breakpoint('info', 800px) {
    flex-direction: column;
    padding: 21px;
    max-width: 200px;
}

@include breakpoint('info', 400px) {
    max-width: 250px;
    padding: 16px;
}