@import '../../scss/mixins';

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 35px 0 55px;
  border-bottom: 1px solid #0a0a0b;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.link_text {
  margin-left: 8px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #008aff;
}

.icon {
  vertical-align: middle;
  & path {
    stroke: #008aff;
  }
}

.text_box {
  display: flex;
  align-items: center;
  margin-top: 65px;
}

.title {
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 118px;
  font-weight: 400;
  color: #0a0a0b;
}

.description {
  max-width: 225px;
  margin: 0 0 0 30px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: #0a0a0b;
}

@include mediaMax(1200px) {
  .container {
    max-width: 800px;
  }
  .title {
    font-size: 90px;
  }
}

@include mediaMax(900px) {
  .container {
    max-width: 600px;
    padding: 35px 0 24px;
  }
  .title {
    font-size: 60px;
  }
}

@include mediaMax(700px) {
  .container {
    max-width: 500px;
  }
  .text_box {
    flex-direction: column;
    text-align: center;
  }
  .description {
    max-width: 100%;
    margin: 0;
  }
}

@include mediaMax(500px) {
  .container {
    max-width: 300px;
    padding: 35px 0 17px;
  }
  .title {
    font-size: 40px;
  }
  .text_box {
    align-items: flex-start;
  }
  .description {
    font-size: 16px;
    line-height: 1;
    max-width: 139px;
    padding-top: 13px;
  }
}
