@import '../../scss/mixins';

.container {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  height: 121px;
  padding: 49px 0 48px 0;
  margin: 0 auto;

  &__text {
    color: rgba(98, 98, 106, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  @include mediaMax(1198px) {
    max-width: 1000px;
  }
  @include mediaMax(1020px) {
    max-width: 800px;
  }
  @include mediaMax(800px) {
    max-width: 600px;
  }
  @include mediaMax(600px) {
    max-width: 300px;
    flex-direction: column;
    margin: 0;
    padding-left: 20px;
  }
}

.box {
  width: 100%;
  max-width: 1920px;
  border-top: 1px solid rgba(204, 204, 204, 1);
}
