@import './variables';
@import './mixins';

* {
  margin: 0;
  padding: 0;
}

html {
  padding: 0;
}

body {
  font-family: 'Alegreya Sans', system-ui, Tahoma, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  min-width: 320px;
  height: 100%;
  display: flex;
  justify-content: center;
}
