@font-face {
  font-family: "AlegreyaSans";
  src: url("../assets/fonts/alegreya-v27-latin_cyrillic-regular.woff2") format("woff2"),
  url("../assets/fonts/alegreya-v27-latin_cyrillic-regular.woff") format("woff");
  font-style: normal;
  font-weight: 100;
}
