@font-face {
    font-family: 'Alegreya Sans';
    src: url('../assets/fonts/alegreyasans-medium-webfont.woff') format('woff'),
    url('../assets/fonts/alegreyasans-medium-webfont.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../assets/fonts/alegreya-sans-v21-latin_cyrillic-regular.woff') format('woff'),
    url('../assets/fonts/alegreya-sans-v21-latin_cyrillic-regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../assets/fonts/alegreya-v27-latin_cyrillic-regular.woff') format('woff'),
    url('../assets/fonts/alegreya-v27-latin_cyrillic-regular.woff2') format('woff2');
}