@mixin noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin mediaMax($screenSize) {
  @media (max-width: $screenSize) {
    @content;
  }
}

@mixin mediaMin($screenSize) {
  @media (min-width: $screenSize) {
    @content;
  }
}

@mixin mediaMinMax($screenSizeMin, $screenSizeMax) {
  @media (min-width: $screenSizeMin) and (max-width: $screenSizeMax) {
    @content;
  }
}

@mixin appearance {
  @keyframes appearance {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
